
<section id="form">
    <h2>Signup</h2>
    <form method="post">
        <label for="username">username</label>
        <input type="text" placeholder="username" name="username" >
        <label for="email">email</label>
        <input type="text" placeholder="email" name="email">
        <label for="age">age</label>
        <input type="age" placeholder="age" name="age">
        <label for="password">password</label>
        <input type="password" placeholder="password" name="password" >
        <button type="submit">Login</button>
    </form>
</section>